<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/Manager.css">
    <title>Manage Home Page</title>
</head>


<body>
<div class="app-container">
    <div class="app-top-menu">
        <div class="app-brand-box">
            <div class="app-brand-title">
                HELP DESK
            </div>
        </div>
    </div>
    <div class="app-side-bar">
        <div class="menu">بخش کاربران</div>
        <ul class="menu-ul">
            <li class="menu-li">تایید کاربران</li>

        </ul>

    </div>
    <div class="app-content" >
        <div class="app-content-load" id="app-content-load"></div>
    </div>

</div>

<script type="javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="javascript" src="js/popper.min.js"></script>
<script type="javascript" src="js/bootstrap.js.min.js"></script>
<script type="javascript" src="js/ManagerHomePage.js"></script>

</body>

</html>