<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>search account</title>
</head>
<body>
    <div>
        <form method="post" th:action="@{/searchAccount}" th:object="${person}">

            <input type="text" th:field="*{firstname}"/>
            <select th:field="*{type}">
                <option th:value="'Teacher'" th:text="استاد"></option>
                <option th:value="'Student'" th:text="کاروند"></option>
            </select>
            <input type="submit" value="search"/>
        </form>

    </div>

    <div>
        <table>
            <thead>
            <tr>
                <th>name</th>
                <th>family</th>
                <th>nationalcode</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person, peoplestat: *{people}">

                <td th:text="*{people[__${peoplestat.index}__].firstname}"></td>
                <td th:text="*{people[__${peoplestat.index}__].lastname}"></td>
                <td th:text="*{people[__${peoplestat.index}__].nationalcode}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>