<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/Style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Sign up Page</title>
</head>
<body>


<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="left-side">
                        <li><a href="#">phone number : 09363529940</a></li>
                    </ul>

                </div>

                <div class="col-md-6">
                    <ul>
                        <li><a href="">Account</a></li>
                        <li><a href="">About US</a></li>
                        <li><a href="">Business Plans</a></li>
                        <li><a href="">Contact US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="header-main">

        <div class="container no-padding">
            <div class="row col-md-12 no-padding">
                <a class="col-md-6 logo no-padding" href=""><img src="resources/images/logo.png" alt="logo" /></a>
                <nav class="col-md-6 no-padding">

                    <ul>
                        <li><a href="index.jsp">صفحه اصلی</a></li>
                        <li><a href="UserPage.jsp">حساب کاربری</a>
                            <ul>

                                <li><a href="Signup.jsp">ثبت نام</a></li>
                                <li><a href="Login.jsp">ورود به حساب</a></li>

                            </ul>

                        </li>

                    </ul>

                </nav>
            </div>
        </div>

    </div>

</header>
<div class="clearfix"></div>

<section>
<div class="sign-up-form">
    <div class="container">
        <div class="col-md-5 col-sm-6 align-self-md-center">
            <div class="text-center">ثبت نام</div>
            <form th:action="@{/signup}" th:object="${account}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username" th:field="*{username}">
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password" th:field="*{password}">
                    <div class="form-group">
                        <div class="form-control">
                            <label for="teacher">استاد</label>

                            <input type="radio" id="teacher" name="type" th:value="1" th:field="*{requestedRole}">

                            <label for="student">کاروند</label>
                            <input type="radio" id="student" name="type" th:value="2" th:field="*{requestedRole}">
                        </div>
                    </div>
                    <input type="submit" value="sign up"/>

                </div>
            </form>
        </div>

    </div>
</div>
</section>

<div class="clearfix"></div>

<footer>
    <div class="footer">
        <p>
            Designed By Team3D .co
            All Rights Reserved.
        </p>
    </div>
</footer>












<script src="js/jquery-3.4.1.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>



</body>
</html>