<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="datepicker/css/persianDatepicker-default.css">

    <title>My Courses</title>
</head>
<body>

<button class="btn btn-outline-primary" onclick="getAllCoursesByStudent()">Get</button>
<table class="table table-striped table-hover" style="padding-top: 10px">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">تاریخ شروع</th>
        <th scope="col">تاریخ پایان</th>
        <th scope="col">وضعیت</th>
        <th scope="col">نام دوره</th>
        <th scope="col">توضیحات</th>
        <th scope="col">افزودن آزمون</th>
        <th scope="col">مشاهده آزمون ها</th>

    </tr>
    </thead>
    <tbody id="table-body">

    </tbody>
</table>



<script type="text/javascript" src="js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

<script>
    function getAllCoursesByStudent() {
        $.ajax({
            url: "http://localhost:8080/Student/get-courses-im-in",
            type: "POST",
            success: function (data, textStatus, jQxhr) {

                console.table(data);
                //prepareCourseTable(data);
            },
            error: function (errorMessage) {
                alert("errorMessage")
            }
        });
    }
    function prepareCourseTable(data) {

        let content = '';
        for (let i = 0; i < data.length; i++) {
            content += "<tr>";
            content += "<th scope='row'>" + data[i].id + "</th>";
            content += "<td >" + data[i].startDate + "</td>";
            content += "<td >" + data[i].endDate + "</td>";
            content += "<td id=" + i + ">" + data[i].status + "</td>";
            content += "<td >" + data[i].courseTitle + "</td>";
            content += "<td >" + data[i].courseDesc + "</td>";

            content += "<td >" +
                "<button type='button' class='btn btn-outline-danger btn-sm' onclick='showAddQuizForCourseModal(" + data[i].id + ")'>Add Quiz</button>" +
                "</td>";


            content += "<td >" +
                "<button type='button' class='btn btn-outline-danger btn-sm' onclick='showAllQuizModal(" + data[i].id + ")'>show All Quiz</button>" +
                "</td>";
            content += "</tr>";
        }
        $('#table-body').html(content);
    }

</script>
</body>
</html>