<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="datepicker/css/persianDatepicker-default.css">

    <title>My Courses</title>
</head>
<body>

<button class="btn btn-outline-primary" onclick="getAllCoursesByStudent()">Get</button>
<table class="table table-striped table-hover" style="padding-top: 10px">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">نام دوره</th>
        <th scope="col">آزمون</th>



    </tr>
    </thead>
    <tbody id="table-body">

    </tbody>
</table>

<!--show all quiz of special course to student-->

<div class="modal fade" id="showAllQuizOfACourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">آزمون ها</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input type="text" id="course-id" readonly>

                <table class="table table-striped table-hover" style="padding-top: 10px">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">نام آزمون</th>
                        <th scope="col">توضیحات آزمون</th>
                        <th scope="col">زمان</th>
                        <th scope="col">عملیات</th>




                    </tr>
                    </thead>
                    <tbody id="quiz-table-body">

                    </tbody>
                </table>




            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<!--end show all quiz of special course to student-->


<script type="text/javascript" src="js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/ManagerHomePage.js"></script>


<script>
    let myGlobalData = null;

    function getAllCoursesByStudent() {
        $.ajax({
            url: "http://localhost:8080/Student/get-courses-im-in",
            type: "POST",
            success: function (data, textStatus, jQxhr) {

                console.table(data);
                prepareCourseTable(data);
            },
            error: function (errorMessage) {
                alert("errorMessage")
            }
        });
    }
    function prepareCourseTable(data) {
        myGlobalData = data;
        let content = '';
        for (let i = 0; i < data.length; i++) {
            content += "<tr>";
            content += "<th scope='row'>" + data[i].id + "</th>";
            content += "<td >" + data[i].courseTitle + "</td>";

            content += "<td >" +
                "<button type='button' class='btn btn-outline-danger btn-sm'  onclick='getQuizList("+data[i].id+")'>لیست آزمون ها</button>" +
                "</td>";

            content += "</tr>";
        }
        $('#table-body').html(content);
    }

    function getQuizList(data) {
        let mycontent = '';
        for (i=0;i<myGlobalData.length;++i)
        {
            if(myGlobalData[i].id==data){
                for(j=0;j<myGlobalData[i].courseQuizDTOforStudent.length;++j){

                    mycontent += "<tr>";
                    mycontent += "<th scope='row'>" + myGlobalData[i].courseQuizDTOforStudent[j].id + "</th>";
                    mycontent += "<td>" + myGlobalData[i].courseQuizDTOforStudent[j].title + "</td>";
                    mycontent += "<td>" + myGlobalData[i].courseQuizDTOforStudent[j].desc + "</td>";
                    mycontent += "<td>" + myGlobalData[i].courseQuizDTOforStudent[j].time + "</td>";
                    mycontent += "<td >" +
                        "<button type='button' class='btn btn-outline-danger btn-sm' onclick='getQuizPage(" + myGlobalData[i].courseQuizDTOforStudent[j].id + ")'>شروع</button>" +
                        "</td>";
                    mycontent += "</tr>";
                    // console.table(myGlobalData[i].courseQuizDTOforStudent[j].title);
                    // console.table(myGlobalData[i].courseQuizDTOforStudent[j].desc);
                    // console.table(myGlobalData[i].courseQuizDTOforStudent[j].time);
                    // console.table(myGlobalData[i].courseQuizDTOforStudent[j].questions);
                }

                $('#quiz-table-body').html(mycontent);

            }
        }

        $("#showAllQuizOfACourse").modal('toggle');
    }



    function getQuizPage() {
        $('#showAllQuizOfACourse').modal('toggle');
        loadPage("/Student/start-quiz");

    }



</script>
</body>
</html>